/***** Card styles start *****/

.Card {
	background-color: var(--element-color);
	box-shadow: 1px 1px 10px var(--shadow-color);
	border-radius: 10px;
	width: 280px;
	margin: 0 auto 50px;
	color: hsl(200, 15%, 8%);
	transition: 0.3s ease-out all;

    &:hover {
        box-shadow: 1px 1px 10px 1px var(--shadow-hover-color);
    }
}

.card-link {
	text-decoration: none;
	color: var(--text-color);
}

.card-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;

	span {
		width: 100%;
	}

    img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
}

.card-body {
	padding: 20px 30px 30px;
}

.card-heading {
	margin: 0 0 10px;
	color: var(--text-color);
}

.card-text p {
	margin: 0 0 3px;

    span {
        font-weight: 600;
    }
}

/* Card mobile starts */

@media (min-width: 576px) {
	.Card {
		margin: 0 0 50px;
	}
}

/* Card mobile ends */

/***** Card styles end *****/