/***** Navbar styles start *****/

.Navbar {
	background-color: var(--element-color);
	color: var(--text-color);
	box-shadow: 1px 0px 5px hsl(0, 0%, 80%);
	font-size: 12px;
}

.navbar-wrapper {
	padding: 20px;
	margin: 0 auto;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.navbar-heading {
	display: inline-block;
	text-decoration: none;
	color: var(--text-color);
}

.dark-mode {
	justify-self: end;
	align-self: center;

	.fa-moon {
		display: var(--dark-mode-icon);
	}

	.fa-sun {
		display:  var(--light-mode-icon);
	}

    p {
		display: inline-block;
		margin-left: 10px;
        font-weight: 600;
		cursor: pointer;
    }
}

/* Navbar mobile starts */

@media (min-width: 576px) {
	.Navbar {
		font-size: 14px;
	}

	.navbar-wrapper {
		padding: 20px 20px 20px 0;
		max-width: 84%;
	}
}

/* Navbar mobile ends */

/***** Navbar styles end *****/