.Navbar {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 1px 0px 5px hsl(0, 0%, 80%);
	font-size: 12px;
}

.navbar-wrapper {
	padding: 20px;
	margin: 0 auto;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.navbar-heading {
	text-decoration: none;
	color: hsl(200, 15%, 8%);
}

.dark-mode {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-self: end;
	align-self: center;
}

.dark-mode p {
	font-weight: 600;
}

@media (min-width: 576px) {
	.Navbar {
		font-size: 14px;
	}

	.navbar-wrapper {
		padding: 20px 0;
		max-width: 85%;
	}
}
