.Navbar {
	background-color: hsl(0, 0%, 100%);
}

.navbar-wrapper {
	padding: 20px 0;
	margin: 0 auto;
	max-width: 90%;
	display: grid;
	grid-template-columns: 8fr 1fr;
}

.dark-mode {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-self: end;
	align-self: center;
}

.dark-mode p {
	font-weight: 600;
}
