/***** Dashboard styles start *****/

.Dashboard {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 14px;
	overflow: hidden;
}

.dashboard-wrapper {
	margin: 0 auto;
	max-width: 100%;
	padding: 40px 0;
}

.find-countries {
	display: flex;
	flex-direction: column;
	margin: 0 0 40px;
	padding: 0 20px;
}

.search-box {
	background-color: var(--element-color);
	color: var(--input-color);
	border-radius: 5px;
	padding: 16px 8px 16px 20px;
	width: 92%;
	box-shadow: 1px 1px 5px var(--shadow-color);
	margin: 0 0 10px;

    input {
        margin-left: 10px;
        font-size: 14px;
		background-color: var(--element-color);
        color: var(--input-color);
        border: none;
        outline: none;
        font-weight: 600;
        font-family: 'Nunito Sans', sans-serif;
        width: 90%;

        &:focus {
            outline: none;
			color: var(--input-color);
        }
    }
}

/* Dropdown menu starts */

.dropbtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 24px;
	width: 100%;
	background-color: var(--element-color);
	color: var(--text-color);
	font-weight: 600;
	font-family: 'Nunito Sans', sans-serif;
	text-align: left;
	cursor: pointer;
	border: none;
	border-radius: 5px;

    p {
        margin: 0 10px 0 0;
		color: var(--text-color);
    }
} 

.dropdown {
	position: relative;
	box-shadow: 1px 1px 5px var(--shadow-color);
	border-radius: 5px;
	width: 100%;

    &:hover .dropdown-content {
        display: block;
    }
}

.dropdown-content {
	margin-top: 3px;
	display: none;
	position: absolute;
	min-width: 100%;
	background-color: var(--element-color);
	box-shadow: 0px 8px 16px 0px var(--shadow-color);
	z-index: 1;
	border-radius: 5px;

    p {
        padding: 8px 20px;
        text-decoration: none;
        display: block;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Nunito Sans', sans-serif;
        color: var(--text-color);

        &:hover {
            background-color: var(--text-color);
			color: var(--element-color);
            cursor: pointer;
        }
    }
}

/* Dropdown menu ends */

/* Gallery starts */

.gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Gallery ends */

/* Dashboard mobile starts */

@media (min-width: 576px) {
	.dashboard-wrapper {
		margin: 0 auto;
		max-width: 85%;
		padding: 40px 0;
	}

	.find-countries {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}

	.search-box {
		padding: 16px 8px 16px 20px;
		width: 40%;

        input {
            margin-left: 15px;
            font-size: 14px;
            width: 90%;
			color: var(--text-color);
        }
	}

	.dropbtn {
		padding: 18px 24px;
	}

	.dropdown {
		width: 15%;
		height: fit-content;
	}

	.gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/* Dashboard mobile ends */

/***** Dashboard styles end *****/