.Dashboard {
	background-color: hsl(0, 0%, 98%);
	font-size: 14px;
	overflow: hidden;
}

.dashboard-wrapper {
	margin: 0 auto;
	max-width: 100%;
	padding: 40px 0;
}

.find-countries {
	display: flex;
	flex-direction: column;
	margin: 0 0 40px;
	padding: 0 20px;
}

.search-box {
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	padding: 16px 8px 16px 20px;
	width: 92%;
	box-shadow: 1px 1px 5px #eee;
	margin: 0 0 10px;
}

.search-box input {
	margin-left: 10px;
	font-size: 14px;
	color: hsl(0, 0%, 52%);
	border: none;
	outline: none;
	font-weight: 600;
	font-family: 'Nunito Sans', sans-serif;
	color: hsl(200, 15%, 8%);
	width: 90%;
}

input:focus {
	outline: none;
}

.gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Dropdown menu starts */

.dropbtn {
	background-color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 24px;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	text-align: left;
	font-weight: 600;
	font-family: 'Nunito Sans', sans-serif;
	color: hsl(200, 15%, 8%);
}

.dropbtn p {
	margin: 0 10px 0 0;
}

.dropdown {
	position: relative;
	box-shadow: 1px 1px 5px #eee;
	border-radius: 5px;
	width: 100%;
}

.dropdown-content {
	margin-top: 3px;
	display: none;
	position: absolute;
	min-width: 100%;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 5px;
	background-color: hsl(0, 0%, 100%);
}

.dropdown-content p {
	padding: 8px 20px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Nunito Sans', sans-serif;
	color: hsl(200, 15%, 8%);
}

.dropdown-content p:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Dropdown menu ends */

/* Mobile view CSS starts */

@media (min-width: 576px) {
	.dashboard-wrapper {
		margin: 0 auto;
		max-width: 85%;
		padding: 40px 0;
	}

	.find-countries {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}

	.search-box {
		padding: 16px 8px 16px 20px;
		width: 40%;
	}

	.search-box input {
		margin-left: 15px;
		font-size: 14px;
		color: hsl(0, 0%, 52%);
		border: none;
		outline: none;
		font-weight: 600;
		font-family: 'Nunito Sans', sans-serif;
		color: hsl(200, 15%, 8%);
		width: 90%;
	}

	.dropbtn {
		padding: 18px 24px;
	}

	.dropdown {
		width: 15%;
		height: fit-content;
	}

	.gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/* Mobile view CSS ends */

#continent {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 20%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}