/***** Country details styles start *****/

.CountryDetails {
	padding: 60px 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: var(--text-color);
	background-color: var(--bg-color);
}

.countrydetails-wrapper {
	margin: 0 auto;
	max-width: 85%;
	padding: 10px 0 80px;
}

/* Back button starts */
.back-btn {
	background-color: var(--element-color);
	color: var(--text-color);
	padding: 12px 30px 10px;
	box-shadow: 1px 1px 5px var(--shadow-color);
	border-radius: 5px;
	border: none;
	outline: none;
	margin: 0 0 70px;
	cursor: pointer;
	transition: 0.3s all ease-out;

    i {
        margin-right: 10px;
    }

	&:hover {
		box-shadow: 1px 1px 5px var(--shadow-hover-color);
	}
}
/* Back button ends */

/* Country card starts */
.country-card {
	display: grid;
	grid-template-columns: 1fr;
}

.country-flag {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 90%;
	height: 350px;
	object-fit: cover;
	box-shadow: 1px 1px 5px var(--shadow-color);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.country-name {
	margin: 0 0 20px;
}

.country-text {
	padding: 25px 0 0;
}

.country-info {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 0 20px;

    p {
        margin: 0 0 10px;

        span {
            font-weight: 600;
        }        

        p {
            display: inline-block;
            margin: 0 5px 0 0;
        }
    }
}

.border-countries {
	display: grid;
	grid-template-columns: 1fr;
}

.border-countries-heading {
	align-self: center;
	font-weight: 600;
	margin: 0 0 20px;
}

.border-countries-names div {
	background-color: var(--element-color);
	display: inline-block;
	text-align: center;
	padding: 5px 15px;
	margin: 0 15px 10px 0;
	box-shadow: 1px 1px 5px var(--shadow-color);
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	color: var(--text-color);
}
/* Country card ends */

/* Country details mobile starts */
@media (min-width: 576px) {
	.country-card {
		grid-template-columns: 1fr 1fr;
		grid-gap: 3em;
	}

	.country-info {
		grid-template-columns: 1fr 1fr;
		margin: 0 0 50px;

        p {
            margin: 0 0 5px;
        }
	}

	.border-countries {
		grid-template-columns: 2fr 7fr;
	}

	.border-countries-heading {
		margin: 0;
	}
}
/* Country details mobile ends */

/***** Country details styles end *****/