/* Theme colour styles */
@import './theme';

/* Basic utilities */
@import './buttons';

/* Component styles */
@import '../components/Navbar/navbar-styles';
@import '../components/Dashboard/dashboard-styles';
@import '../components/Card/card-styles';
@import '../components/CountryDetails/countrydetails-styles';
@import '../components/Error404/error404page-styles';

/* CSS to extend the page till bottom */

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.Dashboard {
    flex-grow: 1;
    overflow: auto;

    .dashboard-wrapper {
        height: 100%;
    }
}

.CountryDetails {
    height: 100%;
}

.Error404Page {
    height: 100%;
}